{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSameLine": true,
  "useTabs": false,
  "bracketSpacing": true,
  "objectWrap": "preserve"
}
